*.groupproj
*.local
*.sublime-project
*.sublime-workspace
*.exe
*.#00
*.#01
*.#02
*.#03
*.#04
*.#05
*.#06
*.#07
*.#08
*.#09
*.ilc
*.ild
*.ilf
*.ils
*.map
*.obj
*.pch
*.tds
!/BlackPolp/dep/*.obj
/BlackPolp/__history/*
/BlackPolp/Win32/*